body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #e7e9eb; /* Light grey background */
    color: #333;
    text-align: center; /* Center text */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #fbe0ff; /* Light purple background */
    color: #020202;
    padding: 20px 0;
    border-bottom: #0090c1 3px solid; /* Lighter blue for the border */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.title-container {
    text-align: center;
    flex-grow: 1; /* This will make the title-container grow to fill the space, pushing the logo to the right */
}

.title-container h1, 
.title-container p {
    margin: 0; /* Removed redundant padding */
}

.logo {
    max-width: 100px; /* Adjust the size as necessary */
    margin-left: auto; /* This will push the logo to the right */
}

main {
    padding: 20px 0;
}

.link-card {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.link-card a {
    color: #006494; /* Dark blue color for links */
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2em;
}

.link-card a:hover {
    color: #0090c1; /* Lighter blue on hover */
}

.link-card .description {
    color: #666;
    font-weight: 300;
}

h2 {
    color: #333;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    /* Additional media query styles can be added here if needed */
}
